$text-color: rgba(239,237,232, 65%);
$white-color: #FAFAF9;
$body-color: #171717;
$button-color: #E6533C;
$button-link-color: #0070C9;
$button-link-color-hover: #0c7dda;
$button-color-hover: #fa4225;
$shape-blue-first: #323443;
$shape-blue-second: #232532;
$shape-blue-third: #4F5261;

$h1-fz: 10.75rem;
$h2-fz: 2.5rem;
$h3-fz: 2rem;
$text-fz: 1rem;
$small-fz: .875rem;
$header-fz: .75rem;
$btn-fz: 1.125rem;

$regular: 400;
$semi: 600;
$bold: 700;
$extra: 800;


