.membership {
    padding: 0 4.8rem 6.3125rem 4.8rem;
    &__container {
        hr {
            margin-top: 1.75rem;
            border: 0.5px solid $white-color;
            opacity: 0.4;
        }
    }

    &__wrapper {
        margin-top: 3rem;
        display: flex;
        justify-content: space-between;
        column-gap: .8rem;
    }

    &__column {
        padding: 4.4375rem 4.25rem 4.8125rem;
        &_1{
            background-color: $shape-blue-second;
            .membership__btn {
                margin-top: 6.375rem;
            }

        }
        &_2 {
            background-color: $shape-blue-first;
            .membership__btn {
                margin-top: 1.75rem;
            }
        }
    }

    &__name {
        color: $white-color;
        text-align: center;
        letter-spacing: 0.3px;
        line-height: 1.25;
        font-size: 2.5rem;
        font-weight: $semi;
    }

    &__descr {
        letter-spacing: 0.5px;
        line-height: 1.33;
        font-size: 1.125rem;
        margin-top: 2.125rem;
        max-width: 402px;
    }

    &__list {
        margin-top: 1rem;
        list-style: disc;
        padding-left: 1.18rem;
        max-width: 380px;
    }

    &__item {
        letter-spacing: 0.5px;
        font-size: 1.125rem;
        line-height: 1.33;
    }

    &__btn {
        display: inline-flex;
        align-items: center;
        column-gap: .5rem;
    }

    &__icon {
        font-size: 1.5rem;
        color: $white-color;
        transition: .3s all;
    }
}

@media screen and (max-width: 1199.98px) {
    .membership {
        padding: 0 0 6.3rem 0;
        &__wrapper {
            margin-top: 2.8rem;
        }
        &__column {
            padding: 2.6rem 1.8rem;
            &_1{
                .membership__btn {
                    margin-top: 7.4rem;
                }
            }
        }
        &__name {
            font-size: 2rem;
        }
        &__descr {
            margin-top: 1.8rem;
            font-size: 1rem;
        }
        &__item {
            font-size: 1rem;
        }
        &__list {
            margin-top: 1.4rem;
        }
    }
}

@media screen and (max-width: 991.98px) {
    .membership {
        &__wrapper {
            justify-content: unset;
            flex-wrap: wrap;
            row-gap: 2.2rem;
        }
        &__column {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            & > * {
                margin: 0;
            }
            row-gap: 2rem;
            &_1 {
                .membership__btn {
                    margin-top: 4.4rem;
                }
            }
        }
        &__descr {
            font-size: 1.4rem;
            text-align: center;
            max-width: 480px;
        }
        &__item {
            font-size: 1.4rem;
            &:not(:last-child) {
                margin-bottom: 1rem;
            }
        }
    }
}

@media screen and (max-width: 767.98px) {
    .membership {
        &__container {
            hr {
                margin-top: 1rem;
            }
        }
        &__wrapper {
            margin-top: 2rem;
        }
        &__descr {
            font-size: 1.2rem;
            max-width: 430px;
        }
        &__item {
            font-size: 1.2rem;
        }
    }
}

@media screen and (max-width: 479.98px) {
    .membership {
        .section__title {
            text-align: center;
        }
        &__wrapper {
            row-gap: 1.8rem;
        }
        &__column {
            padding: 2rem 1rem;
            row-gap: 1.2rem;
            &_1 {
                .membership__btn {
                    margin-top: 2rem;
                }
            }
        }
        &__name {
            font-size: 1.6rem;
        }
        &__descr {
            font-size: 1rem;
            width: 94%;
        }
        &__list {
            margin-top: .4rem;
            width: 90%;
        }
        &__item {
            font-size: 1rem
        }
    }
}